@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family:'Poppins', sans-serif;
}

.typography {
    font-family: 'Poppins', sans-serif;
}

.appBar {
    background-color: #EF6351;
    position: absolute;
}

.appButtons {
    background-color: #f38375;
}