.mainGridContainer {
  margin: 0;
  position: absolute;
  top: 180%;
  -ms-transform: translateY(-180%);
  transform: translateY(-180%);
}

.name , .studentData, .statusDisplay, .studentStatus, .updateStatus, .COVIDButton {
    text-align: center;
}

.name {
    font-size: 5vh;
}

.studentData {
    font-size: 2vh;
}

.namePaper, .COVIDStatusPaper, .COVIDUpdatePaper {
    padding: 3%;
    width: max-content;
    height: max-content;
}

.namePaper {
    width: 70vh;
    height: 60vh;
    padding-bottom: 50px;
}

.studentData {
    size: 10;
}

.background {
    background-color: "aqua";
}
